<%= render :partial => "/list" %>
<h4 style="color:white" class="pt-3 pb-5 pl-5"><%= @user.name%>さん、ようこそ！</h4>
<div  style="color:white" class="pl-15">
  <p>〇〇さんは普段、どのようなことに興味を持っていますか？<br>
　どんなこと、どんなものが好きですか？<br>
　小さなことでも”好き”をたくさん書き出してみましょう！</p>
</div>

<div style="text-align:center;">

