<%= render :partial => "/list" %>
<div style="text-align:center;">
  <h4 style="color:white" class="mt-5">自分の<b>"好き"</b>で世界を変えるプロジェクト</h4>

  <div class="pt-15">
    <%= link_to new_user_session_path do%>
      <%= image_tag 'planet.jpeg', size: '580x580' %>
    <% end %>
  </div>
  
  <p style="color:white">地球をClick！</p>
</div>