<%= render :partial => "/list" %>
<h4 style="color:white" class="pt-3 pb-5 pl-5"><%#= @user.name%>さんの“好き”一覧</h4>
<div  style="color:white" class="pl-15">
  <%#= @user.favorite %>
</div>
<p style="color:white" class="pl-2"><b>健康に生きるために</b><br>
先進国であればすぐに治療できる病気でも、抵抗の低い子どもにとっては命を失う原因になります。<br>
途上国の赤ちゃんや小さな子どもたちが亡くなる原因として多いのは、肺炎や下痢です。<br>
予防接種が行き届かず、十分な治療が受けられないことで、多くの子どもたちが命を落としています。</p>
<div class="container pt-5">
  <div class="row">
    <div class="col-3">
      <%= image_tag 'goal3.jpeg', size: "200x200" %>
    </div>
    <div class="col-9">
      <p style="color:white">●　子どもから大人まで，みんなが健康でいられる</p>
      <p style="color:white">●　安心して暮らせる福祉サービスが受けられる</p>
    </div>
  </div>
</div>

<div class="actions pt-4 px-3", style="text-align:center;">
  <%= link_to "戻る", new_favorite_path, class:'btn btn-danger' %>
</div>